.App {
  text-align: center;
}

/* Login Page */
.cover-image {
  background-image: url("/login-cover.jpg");
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ms-logo {
  max-width: 300px;
  margin-left: -1.5rem;
}

.login-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mmSubTitle {
  font-weight: lighter;
}

.login-box {
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 40px;
  background-color: #333454;
  border-radius: 0.25rem;
  color: whitesmoke;
}

/* Login Page End */
.logo {
  height: 60px;
  margin-left: 25px;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2f69dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  justify-content: center;
}

.pageSize-dropDown {
  float: right;
  margin-top: -3.25rem;
  margin-right: 2rem !important;
}
.container,
.container-fluid {
  margin-top: 20px;
}

/* Fonts */
.small-font {
  font-size: smaller;
}

.larger-font {
  font-size: larger;
}

.mono-font {
  font-family: monospace;
}

/*Navbar*/
.navbar {
  background-color: #286eac;
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}
.nav-link {
  color: ghostwhite !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-size: large;
  font-weight: bold;
}
.nav-link:hover {
  color: lightgrey !important;
}
.navbar-nav {
  margin-right: 30px;
}

.user-name-text {
  font-weight: 600;
  color: whitesmoke;
  margin-left: 0.25rem;
}
.user-icon {
  color: whitesmoke;
}
.user-nav-item {
  margin-left: 3rem;
}
/*Form Fields*/
.required {
  color: red;
}

/*Blocks*/
.detailsBlock {
  margin-left: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
}

.paraSpace {
  padding-bottom: 15px;
}

.smallerSpace {
  padding-bottom: 10px;
}

.field {
  color: grey;
  padding-right: 5px;
}

.fieldSpace {
  padding-left: 15px;
}

.headLineSpace {
  padding-bottom: 2rem;
}

.inline-block {
  display: inline-block;
}
/* Delete icon */
.delete-icon {
  margin-left: 1rem;
}
/*Date Picker */
.fade.in {
  opacity: 1 !important;
}

.accordion {
  overflow: hidden;
}
/*Search and Filters*/
.fiter-spacing {
  padding-left: 1rem;
  padding-right: 1rem;
}
